<div class="form-group">
  <div class="input-group">
    <span class="input-group-addon">
      Title
    </span>
    <input type="text" ng-model="title" class="form-control"/>
  </div>
  <div class='input-group date' id='datetimepicker1'>
    <span class="input-group-addon">
      Start
    </span>
    <input type='text' class="form-control"/>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <div class='input-group date' id='datetimepicker2'>
    <span class="input-group-addon">
      End
    </span>
    <input type='text' class="form-control"/>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      $
    </span>
    <input type="number" ng-model="price" class="form-control"/>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      Back to Back Repeats
    </span>
    <input type="number" ng-model="backToBackRepeats" class="form-control"/>
  </div>
  <div class="btn btn-primary" id="submit">
    Submit
  </div>
</div>
